option, p, td, th{
    font-family: 'Carme', sans-serif;
}

table{
    border: 0px solid;
}

td{
    border: 1.3px solid black;
}

.options-names, #median{
    font-family: 'Carme', sans-serif;
}

aside h2{
    margin: 1%;
}

#btnSelect{
    background-color: white;
    border: 3px solid #175187;
}

#btnSelect:hover{
    background-color: #175187
}

html{
    background-color: #92BBFF;
}

body {
    background-color: #FFFfffff;
    margin: 6%;
    box-shadow: 3px 3px 48px black;
    border: 2px solid #175187;
    border-radius: 3%;
}

header, main{
    padding: 2%;
}

header  {
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
    align-items: center;
    border-bottom: 3px solid #175187;
    border-bottom-left-radius: 42%;
    border-bottom-right-radius: 42%;
    justify-content: space-around;
}

.logo {
    height: 8ch;
}

header h1 {
    width: max-content;
    font-family: 'Fredoka One', cursive;
    font-size: 180%;
}

.header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.menu-item{
    display: inline;
    font-family: 'Special Elite', cursive;
    font-size: 140%;
}

.menu-item a:hover{
    color: #175187
}

.menu-item a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

main{
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-aside-about{
    display: flex;
    align-items: baseline;
}

aside{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

#about{
    padding-left: 2%;
}

.main-tables-links{
    width: -webkit-fill-available;
}

.other-contents-links{
    list-style-type: circle;}

.other-contents-links a{
    text-decoration: none;
    cursor: alias;
    font-size: 140%;
}